{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["react", "prettier"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", "jsx"]
            }
        ],
        "curly": ["error", "all"],
        "prettier/prettier": "error",
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "import/order": [
            "error",
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index"
                ],
                "newlines-between": "always"
            }
        ]
    },
    "globals": {},
    "env": {
        "es6": true,
        "jest": true,
        "browser": true
    }
}
